.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
}

.containerImg{
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.imageOne {
	display: flex;
	height: 14vh !important;
	width: 14vh !important;
}