.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.option {
	display: flex;
    justify-content: center;
}

.text {
	font-weight: bold;
}

.btnView {
	background-color: #085886;
    color: #fff;
    border: 1px solid transparent;
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
	margin-left: 10px;
}