.billingInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
}

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

.column, .containerInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}