.container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.form {
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
	width: 100%;
	display: flex;
	justify-content: center;
}

.containerField {
	display: flex;
	justify-content: center;
	width: 50%;
}

.input {
	width: 100% !important;
}

.paper {
	margin-top: 30px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.containerButton {
	width: 50%;
	text-align: center;
}

.cancelButton {
	color: white !important;
}

.circular {
	color: white !important;
}